
{{> navlogo}}

{{#each posts as |post|}}
    <div class="post">
		  <div class="user-post">
			  <div class="userimgs_post">
				  <img src="{{post.author.userimage}}" class="userimgs">
				  <a href="/users/{{post.author._id}}"><p class="usernames_post">{{post.author.name}}</p> </a>
			  </div>
	 	  </div>
		  <img src="{{post.postimage}}" class="img_post">
		  <div class="test-post">
			  <div class="icons_post">
				  {{!-- <img src="/images/like.png" class="icon_post" id="like" onclick="this.src='/images/like_active.png'"> --}}
				  <form method="post" action="/like/post/{{post.id}}">
					<button type="submit">corazón</button>
				  </form>
				  <a href="/posts/{{post.id}}/comments"><img src="/images/coment.png" class="icon_post"></a>
				  <img src="/images/save.png" class="icon_post save">
			  </div>
			  <div class="description_post">
				  <p> <b>{{post.author.name}}</b> {{post.description}}</p>
			  </div>
			  <div class="date">
				  <p>{{date post.createdAt}}</p>
			  </div>
	 	  </div>

		  {{#each post.comments as |c|}}
		  	<div>{{c.text}} - {{c.author.name}}</div>
		  {{/each}}
	  </div>
{{/each}}

{{> navbar}}





{{!-- <script>
    document.getElementById("like").onclick = (event) => {
        console.log(event)
        const newImage = event.target.value
        document.getElementById("image").src = newImage
    }
</script> --}}