
	<div class="perfil">	  
		<div class="user-detail-perfil">
			<div class="userimgs_post">
				<img src="{{user.userimage}}" class="userimgperfil">
			</div>
			<div class="info">
				<p><span class="txtbg">x</span><br>Publications</p>
			</div>
			<div class="info">
				<p><span class="txtbg">x</span><br>Followers</p>
			</div>
			<div class="info">
				<p><span class="txtbg">x</span><br>Following</p>
			</div>
		</div>
			
		<div class="user-description-perfil">
			<div class="description-perfil">
			<p>{{user.name}}</p>
			<p>{{user.userdescription}}</p>
			</div>
		</div>
		{{#if (isSame user._id userLogged) }}
			<div class="user-edit">
				<a href="/users/me/edit" class="btn-edit">EDIT</a>
			</div>
		{{/if}}
	</div>
	 <div class="your-post">
		{{#each user.posts as |post|}}
			<a href="/posts/{{post.id}}/detail"><img src="{{post.postimage}}" class="your-image-post"></a>
		{{/each}}
	</div> 

{{> navbar}}