<div class="contenedoredit">
    <div class="formuedit">
        <a class=" disabled" href="/users/{{user.id}}"><p class="closeupdate">x</p></a>
        <p class="contenedorlogo">
            <img class="logoupdate" src="/images/logo_white.png" alt="Instagram" width="160"> 
        </p>
        {{#if errors}}<div class="alert alert-danger">Review form data</div>{{/if}}
        
        <form action="/users/me/edit" method="POST" enctype="multipart/form-data" > 
            <div class="mb-3">
				<input class="form-control" name="userimage" type="file" id="userimage" value="{{user.userimage}}">
                <img id="image" src="{{user.userimage}}" width="200"/>
			</div>
			<div class="form-floating">
  				<textarea class="form-control" name="userdescription" placeholder="Write a caption" id="userdescription" rows="5" style="height: 100px">
                    {{user.userdescription}}
                </textarea>
  				<label for="floatingTextarea2">Presentation</label>
			</div>
            <div class="form-floating mb-3">
                <input type="text" value="{{user.name}}" name="name" class="form-control {{#if errors.name}}is-invalid{{/if}}" placeholder="Your name">
                <label for="floatingInput">Name</label>
                {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
            </div>
            <div class="form-floating">
                <input type="password" value="{{user.password}}" class="form-control {{#if errors.password}}is-invalid{{/if}}" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
                {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
                {{pasInvalid}}
            </div>
            <button type="submit" class="btncreate btn btn-primary mt-3">UPDATE</button>
        </form>

    </div>   
</div>

<script>
    document.getElementById("userimage").onchange = (event) => {
        console.log(event)
        const newImage = event.target.value
        document.getElementById("image").src = newImage
    }
</script>